scalalib/src/
target/
_build/
*.dot
*.ppm
.idea
_build/
bin/.coursier*
bin/.scalafmt*
sbt-crossproject/
.vscode/launch.json
*.iml
.vscode/settings.json
ensime-langserver.log
pc.stdout.log
*.swp
CMakeLists.txt
cmake-build-debug/
*.iml
pc.stdout.log
*.TMP
*.orig
*.etl
*.etl.NGENPDB
.vscode/